

/* style the background color of the body */
body {
  background-color: black;
  text-align: center;
  font-family: verdana;
}

/* Style for the main top heading */
.topHead {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
}

/* Style for the download links */
.downloadLink {
  color: aquamarine;
  text-sixe: 16px;
  text-align:center;
  text-decoration: underline aquamarine;
}

/* Style for the intra-page headings */
.guide {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: white;
}

/* Style for the sub heading info */
.prodMsg {
  font-size: 21px;
  color: gray;
}
/* Style for the copyright display */
.footer {
  text-align: right;
  color: gray;
}
