

/* style the background color of the body */
body {
  background-color: black;
  text-align: center;
}

.topHead {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
}

.download {
  font-family: verdana;
  color: aquamarine;
  text-sixe: 16px;
  text-align:center;
  text-decoration: underline aquamarine;
}
